#encabezado{
    margin-bottom: 0%;
}

.menubr{
    background-color: rgb(70, 70, 70); 
}

#principal2{
    margin-left: 20%;
}

#menus{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.princ{
    margin-left: 15%;
    margin-right: 15%;
    color: white;
}

#text{
    color: rgb(116, 116, 116);
}

.textpr{
    color: white;
}

.jumbo{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#textde{
    text-align: right;
}

p{
    color: white;
}

h2{
    color: white;
}

.dorado{
    background-color: #694a24;
}

.doradoTexto{
    color: #694a24;
}

.negro{
    background-color: black;
}

h1{
    color: white;
}

.negrotexto{
    color: black;
}

.gris{
    background-color: rgb(32, 32, 32);
}

.blancoTexto{
    color: white;
}